.container {
    @media (max-width: 1024px) {
        position: relative;
        padding-top: 21px;

        &:before {
            content: "";
            display: block;
            width: 30px;
            height: 6px;
            border-radius: 30px;
            position: absolute;
            top: 18px;
            left: 50%;
            transform: translateX(-50%);
            background-color: rgba(#fff, 0.2);
        }
    }
}

.slider {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    overflow-y: visible;
    overflow-x: hidden;
    padding: 30px;

    @media (max-width: 576px) {
        padding: 20px 15px;
    }
}

.item {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 65px;
    color: #fff;
    border-radius: 10px;
    padding: 15px;
    border: 1px solid rgba(#fff, 0.2);
    background-color: rgba(#fff, 0.05);

    svg {
        display: block;
        width: 30px;
        height: 30px;
        margin-bottom: 5px;
        pointer-events: none;
    }
}

.day {
    display: block;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 10px;
    text-transform: capitalize;
    color: rgba(#fff, 0.7);
}

.date {
    display: block;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 10px;
}

.temp {
    display: flex;
    align-items: center;
}

.tempValue {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: #fff;

    sup {
        position: absolute;
        top: -2px;
        right: -6px;
    }
}

.tempDivider {
    margin-right: 5px;
    margin-left: 8px;
}